:root {
    --grid-cols: 16;
    --grid-rows: 16;
  }
  
  #container {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    min-height: 960px;
    max-height: 960px;
    aspect-ratio: 1;
  }

  .grid-item {
    padding: 0.8em;
    border: 1px solid #ddd;
    text-align: center;
    opacity: 0;
    font-size: 8px;
    transition: opacity 0.3s ease;
    aspect-ratio: 1;
    min-height: 3vh;
    max-height: 3vh;
    overflow: hidden;
  }

  .grid-item:hover {
    background-color: yellow;
    opacity: 1;
  }

  #button {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1.5px solid white;
    color: honeydew;
    background-color: transparent;
}
    
